<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="leo.mapper.IArticleMapper">
	<insert id="insertList" parameterType="Article">
		REPLACE INTO
		blog_article(id,title,description,post_date,view_count)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.title},#{item.description},#{item.postDate},#{item.viewCount})
		</foreach>
	</insert>
</mapper>