<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<!-- <package name="leo.bean" /> -->
		<typeAlias type="leo.bean.Article" alias="Article" />
		<typeAlias type="leo.bean.Category" alias="Category" />
		<typeAlias type="leo.bean.CategoryAndArticle" alias="CategoryAndArticle" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/graduate_project?useUnicode=true&amp;characterEncoding=utf8" />
				<property name="username" value="root" />
				<property name="password" value="123" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!-- <package name="leo.mapper" /> -->
		<mapper class="leo.mapper.IArticleMapper" />
		<mapper class="leo.mapper.ICategoryMapper" />
		<mapper class="leo.mapper.ICategoryAndArticleMapper" />
	</mappers>
</configuration>